<section id="projects" class="py-12 bg-gray-100">
    <div class="text-center mb-8">
        <h2 class="text-3xl font-bold">Mis proyectos</h2>
        <p>Algunos proyectos personales que estoy haciendo.</p>
    </div>
    <div class="flex flex-wrap justify-center gap-8">
        <a href="https://hectorvillavicencio.github.io/entregas-idv-hector-villavicencio/export-entrega-6/index.html" class="projectsBx" target="_blank">
            <img src="assets/proyectos/p1.jpg" class="w-64 h-64 object-cover rounded-lg">
            <h2 class="text-xl font-semibold mt-2">Gatito attack</h2>
            <h3 class="text-gray-600">Es un juego de plataforma y accion, desarrollado en Godot</h3>
        </a>
        <a href="https://gitlab.com/villatero/cepapp" class="projectsBx" target="_blank">
            <img src="assets/proyectos/p3.jpg" class="w-64 h-64 object-cover rounded-lg">
            <h2 class="text-xl font-semibold mt-2">CEPAPP</h2>
            <h3 class="text-gray-600">Es un aplicacion movil para estudiantes de la UNQ, desarrollado en Android Studio y JAVA</h3>
        </a>
        <a href="https://enzogalarza.github.io/Los-Secretos-de-C.I.B.V/" class="projectsBx" target="_blank">
            <img src="assets/proyectos/p2.jpg" class="w-64 h-64 object-cover rounded-lg">
            <h2 class="text-xl font-semibold mt-2">Los secretos de C.I.B.V</h2>
            <h3 class="text-gray-600">Juego de vista insometrica con puzzles, desarrollado en godot</h3>
        </a>
        <a href="https://hectorvillavicencio.github.io/" class="projectsBx" target="_blank">
            <img src="assets/proyectos/p4.jpg" class="w-64 h-64 object-cover rounded-lg">
            <h2 class="text-xl font-semibold mt-2">CV virtual</h2>
            <h3 class="text-gray-600">CV armado con repausivo, desarrollado en Javascript, HTML y CSS</h3>
        </a>
    </div>
</section>