<p>most-projects works!</p>
<section id="most">
    <div class="content">
        <h1>Hola, soy</h1>
        <h2>Hector Villavicencio</h2>
        <p> Desarrollador con experiencia en JavaScript, HTML y CSS.
            He trabajado con varias tecnologías y frameworks de frontend, incluyendo Angular y React, y me apasiona crear interfaces de usuario atractivas y funcionales que mejoren la experiencia del usuario en la web.</p>
        <p>Tengo conocimientos en programación orientada a objetos, se usar varios lenguajes de programación como Java, Python, Javascript y Ruby. También tengo conocimientos en base de datos relacional (SQL) y no relacion (MongoDB).</p>    
        <p>También se sobre patrones de diseño y diseño en UML, test unit.</p>
        <a href="https://drive.google.com/file/d/16rcPo335H1GYDFpwlIAP_3-XlclHlpx5/view?usp=sharing" class="btn" target="_blank">CV</a>
    </div>
    <img src="assets/img.png" class="img">
</section>