<section id="home" class="flex flex-col items-center justify-center min-h-screen text-center bg-cover bg-center" style="background-image: url('assets/img.png');">
    <div class="bg-white bg-opacity-75 p-6 rounded-lg">
        <h1 class="text-4xl font-bold">Hola, soy</h1>
        <h2 class="text-3xl font-semibold mt-2">Hector Villavicencio</h2>
        <p class="mt-4"> Soy desarrollador con un sólido dominio en Java, Spring Boot, Spring Data, Maven e Hibernate, programación orientada a objetos, así como conocimientos en patrones de diseño, diseño en UML y pruebas unitarias, junto con habilidades en bases de datos relacionales SQL, y programación web utilizando Angular, CSS, JavaScript, TypeScript, HTML y Tailwind CSS. Además de comprensión en arquitectura de software, busco integrarme a un equipo donde pueda contribuir con mis habilidades técnicas y mi capacidad para trabajar en colaboración</p>
        <p class="mt-4">Soy proactivo, tengo excelentes habilidades interpersonales y puedo manejar tareas asignadas con iniciativa. Disfruto trabajar en equipos y tengo experiencia destacada en el manejo de grupos.</p>
        <a href="https://drive.google.com/file/d/16rcPo335H1GYDFpwlIAP_3-XlclHlpx5/view?usp=sharing" class="mt-6 inline-block px-6 py-2 text-white bg-blue-500 hover:bg-blue-600 rounded-full" target="_blank">CV</a>
    </div>
</section>

<app-projects/>
<app-skills/>
<app-contact/>
