<section id="home">
    <div class="content">
        <h1>Hola, soy</h1>
        <h2>Hector Villavicencio</h2>
        <p> Desarrollador con experiencia en JavaScript, HTML y CSS.
            He trabajado con varias tecnologías y frameworks de frontend, incluyendo Angular y React, y me apasiona crear interfaces de usuario atractivas y funcionales que mejoren la experiencia del usuario en la web.</p>
        <p>Tengo conocimientos en programación orientada a objetos, se usar varios lenguajes de programación como Java, Python, Javascript y Ruby. También tengo conocimientos en base de datos relacional (SQL) y no relacion (MongoDB).</p>    
        <p>También se sobre patrones de diseño y diseño en UML, test unit.</p>
        <a href="https://drive.google.com/file/d/16rcPo335H1GYDFpwlIAP_3-XlclHlpx5/view?usp=sharing" class="btn" target="_blank">CV</a>
    </div>
    <img src="assets/img.png" class="img">
</section>

<section id="home" class="relative w-full min-h-screen flex justify-between items-center p-[100px] bg-[#222]">
    <div class="absolute bottom-0 right-0 w-[50vw] h-[25vw] bg-[#30fe6c] rounded-t-[25vw]"></div>
    <div class="relative flex flex-col gap-2.5 max-w-[650px] z-10">
        <h2 class="relative text-5xl text-[#30fe6c]">Welcome</h2>
        <p class="relative text-white text-xl leading-[1.6em] text-shadow-[1px_2px_2px_black]">
            This is a sample text for the home section.
        </p>
    </div>
</section>

<section id="home" class="relative w-full min-h-screen flex justify-between items-center p-[100px] bg-[#222]">
    <div class="absolute bottom-0 right-0 w-[50vw] h-[25vw] bg-[#30fe6c] rounded-t-[25vw]"></div>
    <div class="relative flex flex-col gap-2.5 max-w-[650px] z-10">
        <h2 class="relative text-5xl text-[#30fe6c]">Welcome</h2>
        <p class="relative text-white text-xl leading-[1.6em] text-shadow-[1px_2px_2px_black]">
            This is a sample text for the home section.
        </p>
    </div>
</section>
<section id="home" class="relative w-full min-h-screen flex justify-between items-center p-[100px] bg-[#222]">
    <div class="absolute bottom-0 right-0 w-[50vw] h-[25vw] bg-[#30fe6c] rounded-t-[25vw]"></div>
    <div class="relative flex flex-col gap-2.5 max-w-[650px] z-10">
        <h2 class="relative text-5xl text-[#30fe6c]">Welcome</h2>
        <p class="relative text-white text-xl leading-[1.6em] text-shadow-[1px_2px_2px_black]">
            This is a sample text for the home section.
        </p>
    </div>
</section>
<section id="home" class="relative w-full min-h-screen flex justify-between items-center p-[100px] bg-[#222]">
    <div class="absolute bottom-0 right-0 w-[50vw] h-[25vw] bg-[#30fe6c] rounded-t-[25vw]"></div>
    <div class="relative flex flex-col gap-2.5 max-w-[650px] z-10">
        <h2 class="relative text-5xl text-[#30fe6c]">Welcome</h2>
        <p class="relative text-white text-xl leading-[1.6em] text-shadow-[1px_2px_2px_black]">
            This is a sample text for the home section.
        </p>
    </div>
</section>