<section id="skills" class="py-12 bg-white">
    <div class="text-center mb-8">
        <h2 class="text-3xl font-bold">Skills</h2>
        <p>Algunas tecnologias que se usar</p>
        <div class="flex items-center justify-center space-x-4 mt-4">
            <button id="scrolling-btn-left" class="buttonSkill">
                <i class="fa-solid fa-circle-arrow-left"></i>
            </button>
            <div class="flex overflow-x-scroll space-x-4">
                <div class="scrolling-card">
                    <a href="https://angular.io/" target="_blank">
                        <img class="w-20 h-20 object-contain" src="assets/tecnologias/Angular.png">
                    </a>
                </div>
                <div class="scrolling-card">
                    <a href="https://www.java.com/es/" target="_blank">
                        <img class="w-20 h-20 object-contain" src="assets/tecnologias/java.webp">
                    </a>
                </div>
                <div class="scrolling-card">
                    <a href="https://es.react.dev/" target="_blank">
                        <img class="w-20 h-20 object-contain" src="assets/tecnologias/React.png">
                    </a>
                </div>
                <div class="scrolling-card">
                    <a href="https://es.wikipedia.org/wiki/HTML" target="_blank">
                        <img class="w-20 h-20 object-contain" src="assets/tecnologias/HTML5.png">
                    </a>
                </div>
                <div class="scrolling-card">
                    <a href="https://es.wikipedia.org/wiki/CSS" target="_blank">
                        <img class="w-20 h-20 object-contain" src="assets/tecnologias/css.png">
                    </a>
                </div>
                <div class="scrolling-card">
                    <a href="https://www.javascript.com/" target="_blank">
                        <img class="w-20 h-20 object-contain" src="assets/tecnologias/js.png">
                    </a>
                </div>
                <div class="scrolling-card">
                    <a href="https://developer.android.com/studio" target="_blank">
                        <img class="w-20 h-20 object-contain" src="assets/tecnologias/Android_Studio.png">
                    </a>
                </div>
                <div class="scrolling-card">
                    <a href="https://www.mysql.com/" target="_blank">
                        <img class="w-20 h-20 object-contain" src="assets/tecnologias/mysql.png">
                    </a>
                </div>
                <div class="scrolling-card">
                    <a href="https://www.postgresql.org/" target="_blank">
                        <img class="w-20 h-20 object-contain" src="assets/tecnologias/Postgresql.png">
                    </a>
                </div>
                <div class="scrolling-card">
                    <a href="https://www.mongodb.com/es" target="_blank">
                        <img class="w-20 h-20 object-contain" src="assets/tecnologias/Mongodb.png">
                    </a>
                </div>
            </div>
            <button id="scrolling-btn-right" class="buttonSkill">
                <i class="fa-solid fa-circle-arrow-right"></i>
            </button>
        </div>
    </div>
</section>