
  <section class="fixed top-0 left-0 w-full px-[100px] py-5 flex justify-between items-center z-[10000] backdrop-blur bg-opacity-50">
    <a href="#" class="relative text-white no-underline font-bold text-2xl">Villa</a>
    <div class="menuToggle"></div>
    <ul class="relative flex gap-5 ">
        <li class="list-none ">
            <a href="#home" class="text-white no-underline font-medium text-xl hover:text-green-600">Home</a>
        </li>
        <li class="list-none">
            <a href="#projects" class="text-white no-underline font-medium text-xl hover:text-green-600">Projectos</a>
        </li>
        <li class="list-none">
            <a href="#skills" class="text-white no-underline font-medium text-xl hover:text-green-600">Skills</a>
        </li>
        <li class="list-none">
            <a href="#contact" class="text-white no-underline font-medium text-xl hover:text-green-600">Contact</a>
        </li>
    </ul>
</section>
