<section id="contact" class="py-12 bg-gray-100">
    <div class="text-center mb-8">
        <h2 class="text-3xl font-bold">Contacto</h2>
        <p>Trabajemos juntos!</p>
    </div>
    <div class="flex flex-col items-center space-y-4">
        <a class="b flex items-center space-x-2 px-4 py-2 bg-blue-500 text-white rounded-full hover:bg-blue-600" href="mailto:fvillavicencio2@gmail.com" target="_blank">
            <span>Gmail</span>
            <i class="fa-regular fa-envelope"></i>
        </a>
        <a class="b b1 flex items-center space-x-2 px-4 py-2 bg-gray-800 text-white rounded-full hover:bg-gray-900" href="https://github.com/HectorVillavicencio" target="_blank">
            <span>GIT</span>
            <i class="fa-brands fa-git-alt"></i>
        </a>
        <a class="b b2 flex items-center space-x-2 px-4 py-2 bg-blue-700 text-white rounded-full hover:bg-blue-800" href="https://www.linkedin.com/in/hector-villavicencio-0786a61b4/" target="_blank">
            <span>Linkedin</span>
            <i class="fa-brands fa-linkedin"></i>
        </a>
        <a class="b b3 flex items-center space-x-2 px-4 py-2 bg-green-500 text-white rounded-full hover:bg-green-600" href="https://wa.me/5491123991152" target="_blank">
            <span>Whatsapp</span>
            <i class="fa-brands fa-whatsapp"></i>
        </a>
    </div>
    <div class="text-center mt-8">
        <p class="text-gray-600">©2023 Villatero. All rights reserved</p>
    </div>
</section>